#include "../behavior_keymap.dtsi"

/* Same-hand targets are eligible for immediate layer activation too. */
&kscan {
    events = <
        ZMK_MOCK_PRESS(0,0,30)
        ZMK_MOCK_PRESS(1,0,30)
        ZMK_MOCK_RELEASE(1,0,30)
        ZMK_MOCK_RELEASE(0,0,10)
    >;
};
