#include "../behavior_keymap.dtsi"

/* Thumb released before A remains a Backspace then A typing roll. */
&kscan {
    events = <
        ZMK_MOCK_PRESS(0,0,30)
        ZMK_MOCK_PRESS(0,1,40)
        ZMK_MOCK_RELEASE(0,0,30)
        ZMK_MOCK_RELEASE(0,1,10)
    >;
};
