#include "../hold-taps.dtsi"

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &shift_mt LSHFT BSPC &kp A
                &kp B &kp C>;
        };
    };
};
