/*
 * Mirror of safe_mt from config/tomahawk56.keymap. Keep the timings identical:
 * a drifted mirror passes while describing a keyboard that does not exist.
 */

#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/kscan_mock.h>

/ {
    behaviors {
        thm: safe_thumb_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <175>;
            quick-tap-ms = <200>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &thm LSHFT BSPC &kp A
                &kp B &kp C>;
        };
    };
};
